<div class="big_container">
  <div id="categoryModal" class="modal">
    <div class="modal-content">
      <div class="modal-body">
        <span class="close" id="closeButtonModal">&times;</span>
        <div class="model-category-explain-container">
          <span id="modal-category-explain"></span>
        </div>
        <img id="modal-img" src="" alt="">
      </div>
      <div class="modal-footer">
        <span id="modal-category">תוכנית בטיחות אש להיתר</span>
      </div>
    </div>
  </div>

  <div id="home-page-content" class="container-desktop-mode container-mobile-mode">
      <div class="top-title-link-container">
        <a class="top-title-link" href="" ng-click="getContactPage()">לקבלת רישיון עסק לחץ כאן</a>
      </div>
      <div class="top-media-container">
        <iframe src="https://www.youtube.com/embed/BCoskfpc0Ig?rel=0&amp;showinfo=0;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!-- <video class="media" controls loop autoplay>
          <source src="./movie.mp4" type="video/mp4">
        </video> -->
      </div>
      <div class="middle-polygon">
        <div class="top-container">
          <div class="top">
            <div class="text-area">
              <div class="text_wrapper">הידע שלנו הוא כח! וכח חוסך לך הרבה כסף, זמן ומאמץ!</div>
            </div>
          </div>
        </div>
        <div id="middle-icons-container">
          <div class="middle-icons">
            <div class="icon-container category" onclick="openModalWindow(this)">
              <a href="#" id="home-icon1"><img id="icon-category" src="images/BusinessRegistration/br_1.png" alt=""></a>
              <p class="header_circle">תהליך קבלת רישיון עסק</p>
              <span class="category-explain">
                בקשה לקבלת מידע - ניתן להגיש בקשה לקבלת מידע מקדמי על דרישות הרשויות השונות מהעסק המבוקש. הבקשה כרוכה בתשלום אגרה. הרשות מחויבת למסור את המידע המקדמי בתוך 30 יום​.
                הגשת הבקשה לרישיון עסק נעשית באמצעות הגשת טופס בקשה מיוחד. יש לצרף לבקשה מסמכים שונים ובהם, תרשים סביבת העסק, מפה מצבית, תוכנית עסק הנדסית ואישור תשלום אגרה.
                הטיפול בבקשה - על רשות הרישוי להחליט תך 21 יום האם היא דוחה את הבקשה, ואז יש לנמק את הדחייה בכתב, או ממשיכה בהליך. אם הבקשה לא נדחתה, היא מועברת לבדיקת גורמים מקצועיים שייתנו חוות דעת. בתום הבדיקה הרשות מחליטה האם לדחות את הבקשה או לאשר אותה ובאלה תנאים. הרשות מוסמכת להנפיק היתר זמני או מוגבל בזמן שיש לחדשו בתום התקופה. ניתן להגיש השגה או ערעור על החלטת הרשות או הגורמים המוסמכים.
                אנו נסייע בכל התהליך משלב היעוץ, פתיחת תיק ועד לקבלת הרישיון עסק.
              </span>
            </div>
            <div class="icon-container category" onclick="openModalWindow(this)">
              <a href="#" id="home-icon2"><img id="icon-category" src="images/BusinessRegistration/br_8.png" alt=""></a>
              <p class="header_circle">תכנית רישיון עסק</p>
              <span class="category-explain">
                עסק טעון רישוי נדרש בהגשת בקשה לרשות המקומית ולהסדרתו בתהליך בירוקרטי המצריך ידע מקצועי, כחלקי מהליך זה נדרש הלקוח, או מיופה כוחו (אדריכל, מהנדס) להגיש תכניות בפורמט רישוי עסקים המכילה את כל הנתונים הנדרשים על פי תקנות רישוי עסקים.
                התכנית מתבצעת לאחר ביקור בבית העסק וביצוע מדידות.
                על בעל העסק לקיים את המתוכן בתכנית לפי דרישות התקנות כגון משרד הבריאות, תמ"ת, הנדסה משטרה וכו'..
              </span>
            </div>
            <div class="icon-container category" onclick="openModalWindow(this)">
              <a href="#" id="home-icon3"><img id="icon-category" src="images/BusinessRegistration/br_3.png" alt=""></a>
              <p class="header_circle">ליווי מלא לרישיון עסק</p>
              <span class="category-explain">
                טיפול מול גורמי רישוי
                לאחר פתיחת תיק ברשות והגשת תכניות במס' העתקים, מועברת דרך הרשות בקשה לכל גורם מאשר לבוא לבדוק את העסק כל אחד בהקשר שלו, כולל קבלתם העתק של תכנית אדריכלית שהוגשה. הגורמים המאשרים הרלוונטיים לכל עסק לפי ייעודו הם: הנדסה, כיבוי אש, משרד הבריאות, משטרה, משרד התמ"ת, איכות הסביבה.
                בעל העסק צריך לקבל הנחיות לפני ביקורות הגורמים הנ"ל והליך ביקורות הגורמים המאשרים צריך ידע ומענה מקצועי לטיפול שוטף, על מנת לזרז את הטיפול בבקשה לרישיון עסק.
              </span>
            </div>
            <div class="icon-container category" onclick="openModalWindow(this)">
              <a href="#" id="home-icon4"><img id="icon-category" src="images/FireSafety/fs_4.png" alt=""></a>
              <p class="header_circle">ייעוץ בטיחות אש</p>
              <span class="category-explain">
                מתן פתרונות יצירתיים, בהתאם לתקנות התכנון והבנייה, חלק ג' בטיחות אש בבניינים, בהם נכללים הגנה פאסיבית, והגנה אקטיבית, הפרדות אש בין יעודי חלל שונים. מרחקי מילוט וקביעת מס' יציאות, תאורת חירום, שלטי יציאה, שחרור עשן בהתאמה, מערכת גילוי אש, מערכת כיבוי אש במים / בחומרים אחרים.
                קביעת מקום וכמות עמדות כיבוי אש.
                היעוץ ניתן בתהליך הקמת המבנה מאפס (תכנון), או לפני כניסה לנכס קיים (פתיחת עסק)
                או שדרוג בית עסק שעבר ביקורת כב"א וקיבל מסמך דרישות.
              </span>
            </div>
            <div class="icon-container category" onclick="openModalWindow(this)">
              <a href="#" id="home-icon5"><img id="icon-category" src="images/FireSafety/fs_8.png" alt=""></a>
              <p class="header_circle">תכנית בטיחות אש</p>
              <span class="category-explain">
                תכנית בטיחות אש היא - הכנת נספח תיאור אמצעים לבטיחות אש, המתוכננים על ידי יועץ הבטיחות באש לפי תקנות בטיחות אש בבניינים חלק ג', ותקנים אחרים הנוגעים לדבר.
                תכנית בטיחות אש להיתר מתבצעת ברמה תכנונית, מקצועית, תוך תיאום עם היזם, האדריכל, יועצי הפרוייקט - מים, חשמל, מ"א. השת"פ נעשה משלב ראשוני ועד הגשת הבקשה להיתר כל אחד בתחומו,
                התכנית מוגשת על רקע אדריכלי, בהתאם להוראת מכר 532 של נציבות כיבוי אש והצלה, ומוגשת למדור מניעת דליקות בכיבוי אש.  לאחר קבלת אישור לתכנית מתחיל שלב הביצוע (ראה ניהול תיק אישורים לכב"א)
                ועל הלקוח לבצע את כל הנדרש ממנו מכיבוי אש ולהודיע על כך לכיבוי אש, וליועץ בטיחות האש, ולהזמינם לביקורת סופית (פיקוח עליון) לקבלת אישור איכלוס.
              </span>
            </div>
            <div class="icon-container category" onclick="openModalWindow(this)">
              <a href="#" id="home-icon6"><img id="icon-category" src="images/FireSafety/fs_5.png" alt=""></a>
              <p class="header_circle">תיק שטח</p>
              <span class="category-explain">
                בנספח א' להוראה 503 של נציבות כיבוי והצלה ישנם רשימת מבנים הנדרשים לתיק שטח, בד"כ הדרישה נובעת ממבנים המתפרסים על שטח גדול, או על פי רמת סיכון גבוהה.
                תיק זה נכתב על ידי אדם המתמצא בתקנות כיבוי אש, מערכות המותקנות בבניין, והיערכות לחירום.
                לצורך הכנת התיק, יש לבצע סיור מקיף במבנה, לתעד ולצלם כל מידע, מערכת אקטיבית, חשמל וכו'.
                התיק נכתב על פי פורמט אחיד, הנדרש בכל  תחנות כיבוי בארץ, הכולל תיק קשיח, תכנית אדריכלית מעודכנת עם סדרי בטיחות אש עליה (מבוצעת על ידי כותב התיק או אחרים/ או מסופק ע"י הלקוח)
                כולל מדיה דיגיטלית. התיק מוגש לכיבוי אש לאישורם. כיבוי משתמש בתיק זה כצורך להיערכות בזמן חירום, או לביצוע תרגיל במבנה.
              </span>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="screen monitor">
            <div class="content">
              <div class="more-companies">
                מבין לקוחותינו:
              </div>
              <script type="text/javascript">
              $(document).ready(function () {
                $("#slideshow > div:gt(0)").hide();
                // $("#slideshow-six .company-repeat-container > div:gt(6)").hide();
              });
              </script>

              <div class="logos companies-mobile">
                <div id="slideshow">
                  <div class="logo" ng-repeat="company in moreCompanies">
                    <img src="images/logos/{{company.logoImgName}}" alt="{{company.companyName}}" title="{{company.companyName}}">
                    <!-- <div class="company-name" ng-bind="company.companyName"></div> -->
                  </div>
                </div>
              </div>
              <div id="slideshow-six">
                <div class="company-repeat-container">
                  <div class="company-repeat-img" ng-repeat="company in moreCompanies">
                    <img src="images/logos/{{company.logoImgName}}" alt="{{company.companyName}}" title="{{company.companyName}}">
                  </div>
                </div>
                <!-- <div class="company-repeat-container">
                  <div class="company-repeat-img" ng-repeat="company in moreCompanies |  limitTo: 3 : 3">
                    <img src="images/logos/{{company.logoImgName}}" alt="{{company.companyName}}" title="{{company.companyName}}">
                  </div>
                </div> -->

              </div>
            </div>
            <div class="base">
              <div class="grey-shadow"></div>
              <div class="foot top"></div>
              <div class="foot bottom"></div>
              <div class="shadow"></div>
            </div>
          </div>
        </div>

        <div class="bottom">
          <div class="bottom-right">
            <div class="bottom-right-text">
              <div class="bottom-right-title">נועה כיבוי ורישוי בע"מ</div>
              <div class="bottom-text-bottom">
                <div class="bottom-text-right">
                  <table>
                    <tr>
                      <td> &#8226; </td>
                      <td>עבודה על מס' פרוייקטים בודדים במקביל</td>
                    </tr>
                    <tr>
                      <td> &#8226; </td>
                      <td>נישאר לצידך בכל זמן עד לסיום הפרוייקט</td>
                    </tr>
                    <tr>
                      <td> &#8226; </td>
                      <td>התמחות בכיבוי אש ורישוי עסקים</td>
                    </tr>
                    <tr>
                      <td> &#8226; </td>
                      <td>מענה אישי ועדכון בזמן אמת</td>
                    </tr>
                  </table>
                  <!-- - עבודה על מס' פרוייקטים בודדים במקביל<br>
                  - נישאר לצידך בכל זמן עד לסיום הפרוייקט<br>
                  - התמחות בכיבוי אש ורישוי עסקים<br>
                  - מענה אישי ועדכון בזמן אמת<br> -->
                </div>
                <div class="bottom-text-left">
                  <table>
                    <tr>
                      <td> &#8226; </td>
                      <td>קידום פרוייקט ממוקד על פי בקשת הלקוח</td>
                    </tr>
                    <tr>
                      <td> &#8226; </td>
                      <td>נילחם בשבילך בכל הידע שלנו מול הגורמים</td>
                    </tr>
                    <tr>
                      <td> &#8226; </td>
                      <td>נאמר את האמת - שקיפות מלאה מול הלקוח</td>
                    </tr>
                    <tr>
                      <td> &#8226; </td>
                      <td>היכרות ענפה עם גורמי רישוי עסקים וכבאות בארץ</td>
                    </tr>
                  </table>
                  <!-- - קידום פרוייקט ממוקד על פי בקשת הלקוח<br>
                  - נילחם בשבילך בכל הידע שלנו מול הגורמים<br>
                  - נאמר את האמת - שקיפות מלאה מול הלקוח<br>
                  - היכרות ענפה עם גורמי רישוי עסקים וכבאות בארץ<br> -->
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-middle"></div>
          <!-- <img src="images/colorful-polygon.png" alt=""> -->
          <div class="bottom-left">
            <span class="left-description" style="background-color:#6c91aa; padding-right: 10%;">זמינות</span>
            <span class="left-description" style="background-color:#577d97; padding-right: 17%;">הגינות</span>
            <span class="left-description" style="background-color:#6c91aa; padding-right: 23%;">מוצר סופי </span>
            <span class="left-description" style="background-color:#577d97; padding-right: 30%;">מחיר טוב</span>
          </div>
        </div>
      </div>

      <div class="videos-area" id="home-media">
        <img class="video-title-background" src="images/video-title.jpg" alt="">
        <span class="video-title">סרטוני הדרכה - כיבוי אש / רישיונות עסק</span>
        <div class="slideshow-container">
          <div class="w3-content">
            <div class="mySlides" id="rightSlide">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/sgnYcSj5qok" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="bottom-text">בטיחות אש ברבי קומות</div>
            </div>
            <div class="mySlides" id="middleSlide">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/546fJHKuzI4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="bottom-text">בטיחות אש בחורף</div>
            </div>
            <div class="mySlides" id="leftSlide">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/PZQcgJYqzB0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="bottom-text">היחלצות משריפה בבית</div>
            </div>
          </div>
          <!-- <div class="w3-center"></div> -->
        </div>
        <div class="w3-section">
          <!-- <button class="slideshow-btn" id="slideshow-btn-right" onclick="plusRec('home')"><img src="images/arrow-right.png" alt="previous"></button>
          <button class="slideshow-btn" id="slideshow-btn-left" onclick="minusRec('home')"><img src="images/arrow-left.png" alt="next"></button> -->
          <button class="w3-button" onclick="ChangeMediaObj('home',1)">&#10094; הבא</button>
          <button class="w3-button" onclick="ChangeMediaObj('home',-1)">הקודם &#10095;</button>
        </div>
      </div>

</div>
